<script>
    console.log("Yes, these absolutely can have scripts!");
</script>

<!-- This is only a sample of what you CAN, not what you SHOULD do -->

<div id="sampleShip-icon" class="pretend-this-is-an-image">Ship</div>

<style>
    :root {
        --bg-root: #000; /* we could even alter the entire page, if we wanted */
    }

    #sampleShip-icon {
        width: 80px;
        height: 20px;
        background-color: #fff; /* <cough> IMAGE BACKGROUND </cough> */
    }

    #sampleShip-icon:hover {
        background-color: #000; /* OMG you COULD use a different image here */
    }
</style>