<script>
    document.querySelector("#loginComp-form").addEventListener("submit", () => {
        let gameid = document.querySelector("#gameid-input").value;
        window.x.APIHandler.joinGame(gameid)
            .then(() => {
                console.log("Game joined");
                window.x.loadComponent("components/waitScreen.html", document.querySelector("#componentContainer"));
            }).catch(() => console.error("Error while joining game"));
    });
    document.querySelector("#loginComp-create").addEventListener("click", () => {
        window.x.APIHandler.createGame().then(() => console.log("Game created"));
        window.x.loadComponent("components/waitScreen.html", document.querySelector("#componentContainer"));
    });

    if (typeof isLoginInputListenerSet == "undefined") {
        console.log("yeet");
        document.querySelector("#gameid-input").addEventListener("keydown", (e) => {
            e.preventDefault();
            if (e.keyCode == 8) {
                // Remove last character, if last character is a dash - remove two
                document.querySelector("#gameid-input").value = document.querySelector("#gameid-input").value.slice(0, -1);
                if (document.querySelector("#gameid-input").value.slice(-1) == "-") {
                    document.querySelector("#gameid-input").value = document.querySelector("#gameid-input").value.slice(0, -1);
                }
            } else if (/^[0-9]$/i.test(event.key)) {
                document.querySelector("#gameid-input").value += event.key;
            }
            if (document.querySelector("#gameid-input").value.length > 6) {
                if (!document.querySelector("#gameid-input").value.includes("-")) {
                    document.querySelector("#gameid-input").value = document.querySelector("#gameid-input").value.slice(0, 6) + "-" + document.querySelector("#gameid-input").value.slice(6);
                }
            }
        });
        let isLoginInputListenerSet = true;
    }

    window.x.statusPoll = () => { return undefined };
</script>
<form action="javascript:void(0);" id="loginComp-form">
    <input type="text" name="gameid" id="gameid-input">
    <button type="button" id="loginComp-create">Create</button>
    <button type="submit" id="loginComp-join">Join</button>
</form>