<script>
    async function waitScreenCompMain() {
        let status = await window.APIHandler.status();
        console.log(status);
        document.querySelector("#waitScreenComp-code").innerText = status.gameId;

        window.statusPoll = () => {
            window.APIHandler.status().then((status) => {
                console.log(status);
                if (status.state == "starting") {
                    window.statusPoll = () => { return undefined };
                    window.loadComponent("components/pregame.html", document.querySelector("#componentContainer"));
                } else if (status.state == "playing") {
                    window.statusPoll = () => { return undefined };
                    window.loadComponent("components/playing.html", document.querySelector("#componentContainer"));
                } else if (status.state == "finished") {
                    window.statusPoll = () => { return undefined };
                    window.loadComponent("components/finished.html", document.querySelector("#componentContainer"));
                }
            });
        }
    }

    document.querySelector("#waitScreenComp-leave").addEventListener("click", () => {
        window.APIHandler.quit().then(() => {
            window.loadComponent("components/login.html", document.querySelector("#componentContainer"));
        });
    });

    waitScreenCompMain();
</script>
<h1 id="waitScreenComp-code">Loading...</h1>
<button type="button" id="waitScreenComp-leave">Leave</button>
