:root{
    background-color: rgba(26,26,26,1);
    color: rgba(200,200,200,1);
    font-family: monospace;
    font-size: 15pt;
}
h1{
    text-align: center;
}


#login{
    margin: 5% 30% 10%;
    display: grid;
    alignment: center;
    grid-template-columns: 100%;
}

.lgEntry{
    text-align: center;
    padding: 1%;
    margin-bottom: 5%;
    border-radius: 10px;
    border: rgba(200,200,200,1) solid;
    user-select: none;
}

.lgEntry:hover{
    background-color: rgba(64,64,64,1);
}